<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="device-width" content="width=942">
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="/static/blog.css" type="text/css"/>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}"/>
    {% block head %}{% end %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div style="float:right">
          {% if not current_user %}
            {{ _('<a href="%(url)s">Sign in</a>') % {"url": escape(users.create_login_url(request.uri))} }}
          {% else %}
            {% if current_user.administrator %}
              <a href="/compose">{{ _("New post") }}</a> -
            {% end %}
            <a href="{{ escape(users.create_logout_url(request.uri)) }}">{{ _("Sign out") }}</a>
          {% end %}
        </div>
        <h1>
          {{ escape(handler.settings["blog_title"]) }}
          <span>{{ escape(handler.settings["blog_subtitle"]) }}</span>
        </h1>
      </div>
      <div id="content">{% block body %}{% end %}</div>
      {% block bottom %}{% end %}
      {% block paging %}

      <div class="postnoline">
        {% if pageinfo[0] %}
	<span class="previous"><a href="/page/{{pageinfo[0]}}/">← Before</a></span>
        {% end %}
        {% if pageinfo[1] %}
	<span class="next"><a href="/page/{{pageinfo[1]}}/">After →</a></span>
        {% end %}
      </div>

      {% end %}

      {% block footer %}
      <br clear="all" />
      <div class="footer">

        <div class="first">
          <p><strong>About</strong></p>
          <p>{{ escape(handler.settings["blog_about"]) }}
          </p>
        </div>

        <div>
          <p><strong>Recently</strong></p>
          <ul class="nav">
            {% for item in archives %}
            <li>
              <a href="/{{ item[0] }}/{{ item[1]}}">{{ item[2] }}</a>
            </li>
            {% end %}
            <li>
              <a href="/archive"><strong>View All Entries</strong></a>
            </li>
          </ul>
        </div>

        <div class="last">
	  <p><strong>Et Cetera</strong></p>
	  <form method="get" id="sform" action="/search">
	    <p>
              <input type="text" id="q" value="" name="s" size="15" style="width:80px;background-color:#e5e5e5"/>
              <input type="submit" value="Search" style="font-size:10px;vertical-align:top"/>
            </p>
	  </form>
	</div>
      </div>
      {% end %}

      {% block copyright %}
      <br clear="all">
      <div class="copyright">
        <span class="previous">← <a href="/">Back to Home</a></span>
        <p>© zhilihu / blog. Powered by <a href="http://www.tornadoweb.org/">Tornado</a> theming from <a href="http://powazek.com/depo-skinny">DePo Skinny</a>.</p>
      </div>
      {% end %}

  </body>
</html>
